/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.06.2020, 7:38:56
    Author     : EAGLE
*/


body { margin: 0; }
canvas { display: block; }
#scene { width: 100%; height: 50%; text-align: center; }
#scene canvas{
    margin: auto;}